h1 {
	color: white;	
	background-color: red;
}

h2 {
	color: white;
	background-color: red;
}

a {
	color: white;
	background: red;	
}
form {
	background: red;
	color: white;
}
form-group {
	background-color: red;
	color: white;
}