<h1 style="text-decoration: underline">Nueva solicitud.</h1>
<!--	{#{
{{form_start(form, {'action':'', 'method':'POST'})}}
}#}	-->
{% block facturacion %}
<div class="form_row" style="width:25%;height:30%;background-color:cyan">
	<h3 style="text-decoration: underline">Datos de facturacion: </h3>
	Aqui irán los datos de facturación.
</div>
{% endblock facturacion%}
<!--	{#{
{{form_end(form)}}
}#}	-->